<link rel="manifest" href="{{ '/manifest.json' | relative_url }}">
<meta name="theme-color" content="#1a2ac6" id="theme-color-meta">
<meta name="theme-color" content="#121212" media="(prefers-color-scheme: dark)">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="apple-mobile-web-app-title" content="روافد">
<link rel="apple-touch-icon" href="{{ '/images/icon-192.png' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/modern.css' | relative_url }}">